/* ship_extended dbazhenov */
/* ship_extended */
.extended_ship_link {
	display: inline-block;
	border-bottom: 1px dotted rgba(0, 0, 0, 0);
	margin: 10px 0 10px;
	text-decoration: none;
	color: rgb(179, 179, 179);
}

.extended_ship_link:hover {
	color: rgb(26, 26, 26);
}


.extended_ship_div {
	background-color: rgb(250, 250, 250);
	padding: 10px;
	border: 1px solid rgb(240, 240, 240);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

}
/* /ship_extended */